
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	margin:0;
	padding:0;
}

#logo{
	width:112px;
}
nav{
	background-color:transparent;
	ul{
		li{
			a{
				font-size:19px;
				padding-top: 3px;
				color:#5A5A5A;
			}
		}
	}
}

.btn, .btn-floating, .btn-large, .card, .card-panel, .collapsible, .dropdown-content, .side-nav, .toast, .z-depth-1, nav{
	-webkit-box-shadow: none;
	box-shadow: none;
}

#first{
	div{
		div{
			h1{
				font-size: 59px;
				font-weight: 700;
				color: #FF5A5F;
				padding-top: 65px;
			}
			p{
				font-size: 51px;
				color: #484848;
				margin-top: -31px;
			}
		}
	}
}
footer{
   flex: 1 0 auto;
}
