body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin:0;
	padding:0;
}

#logo{
	width:112px;
}
nav{
	background-color:transparent;
	ul{
		li{
			a{
				font-size:19px;
				padding-top: 3px;
				color:#5A5A5A;
			}
		}
	}
}

.btn, .btn-floating, .btn-large, .card, .card-panel, .collapsible, .dropdown-content, .side-nav, .toast, .z-depth-1, nav{
	-webkit-box-shadow: none;
	box-shadow: none;
}

#first{
	div{
		div{
			h1{
				font-size: 59px;
				font-weight: 700;
				color: #FF5A5F;
				padding-top: 65px;
			}
			p{
				font-size: 42px;
				color: #484848;
				margin-top: -31px;
			}
		}
	}
}
footer{
	flex: 1 0 auto;
	border-top: 1px solid rgb(169, 169, 169);
	h5{
		color:#535353;
	}
	a{
		color: #797979;
		font-size:16px;
	}
}
#btn-footer{
	li{
		@include boton-li();

		a{
			color:black;
			font-size: 26px;
			font-weight:300;
		}
	}
}
.page-footer, .pagination li.active {
	background-color: #fff;
}
.light, .page-footer .footer-copyright {
	font-weight: 300;
	padding: 34px 0;
	background-color: #fff;
}
#list{
	padding-top: 30px;
	a{
		font-size: 20px;
		padding: 0 20px 0 0;
		img{
			width: 23px;
			margin-right: 7px;
		}
	}
}

.line:hover{
	text-decoration:underline;
}
input:not([type]),
input[type=date]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=search]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=text]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=url]:not(.browser-default),
textarea.materialize-textarea {
	border: none;
	border-radius: 0;
	outline: 0;
	height: 5rem;
	width: 100%;
	font-size: 12px;
	margin: 0 0 20px;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.input-field label:not(.label-icon).active {
	-webkit-transform: translateY(-14px) scale(.8);
	transform-origin: 0 0;
}
.input-field label {
	color: #535353;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	font-size: 23px;
	cursor: text;
	transition: -webkit-transform .2s ease-out;
	text-align: initial;
	-webkit-transform: translateY(12px);
	transform: translateY(12px);
	pointer-events: none;
}
input:not([type]):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: none;
	-webkit-box-shadow: none;
	box-shadow:none;
}
#destinoBoton{
	background-color:$button-color;
}

div{
	label{
		font-size:19px;
		color: #535353;
	}
	select{
		display:block;
		border:none;
		option{
			font-size:12px;
		}
	}
}
/*tarjetas y mapa*/
.columnas-json {
	margin: 30px;
	.row {
		.columnasChicas {
			width: 60%;
		}
		.mapa {
			width: 40%;
			height: 100vh;
		}
	}
}

.tarjetasJson {
	.foto {
		padding: 0px;
		height: auto;
		border-top: 1px solid #EEEEEE;
		.thumb {
			padding-top: 20px;
		}
		.fa-heart-o {
			color: white;
			position: relative;
			top: -229px;
			left: 311px;
		}
		.precio {
			background-color: rgba(0, 0, 0, 0.5);
			color: white;
			position: relative;
			top: -85px;
			left: 0;
			padding-left: 15px;
			width: 30%
		}
	}
}

.usuarioDatos {
	margin-top: -85px;
	.usuarioFoto {
		border: 3px solid white;
		position: relative;
		left: 280px;
	}
	h5 {
		font-size: 20px;
		font-weight: bold;
	}
	p {
		font-size: 15px;
	}
	i {
		color: #53E4AF;
	}
}

input {
	border: 1px solid grey;
}

.container-mapa {
	padding: 100px;
	margin: 0px;
	.row {
		.tarjetasJson {
			width: 100%;
			padding: 20px;
			.fotoprecio {
				background-image: url(../img/thumbhabitacion.png);
				background-size: cover;
				background-repeat: no-repeat;
				width: 100%;
				height: auto;
			}
		}
	}
	.mapa {
		width: 100%;
		height: 100vh;
		padding: 0;
	}
}

.form {
	position: absolute;
	left: 0px;
	bottom: 5%;
	width: 100%;
	height: auto;
	input {
		width: auto;
		height: 60px;
		border-radius: 13px;
                            //paginación
                            .paginacion {
                            	small {
                            		font-size: 15px;
                            		padding-left: 51px;
                            		font-weight: 700;
                            	}
                            }
                            .pagination {
                            	li {
                            		background-color: white;
                            		border: 1px solid grey;
                            		a {
                            			color: $star-color;
                            		}
                            	}
                            	.flecha {
                            		border: none;
                            	}
                            }
                            .pagination {
                            	li.active {
                            		background-color: white;
                            		border: 1px solid $star-color;
                            		a {
                            			color: $star-color;
                            			font-weight: 700;
                            		}
                            	}
                            	li.disabled {
                            		background-color: white;
                            		a {
                            			color: $star-color;
                            			font-weight: 700;
                            		}
                            	}
                            }
                        }
                    }

