
body{
	margin:0;
	padding:0;
}
/*tarjetas y mapa*/
.columnas-json{
	margin: 30px;
	.row{
		.columnasChicas{
			width:60%;
		}
		.mapa{
			width:40%;
			height: 100vh;
		}
	}
}
.tarjetasJson{
	.foto{
		padding:0px;
		height: auto;
		border-top: 1px solid #EEEEEE;
		.thumb{
			padding-top: 20px;
		}
		.fa-heart-o{
			color: white;
			position: relative;
			top: -229px;
    		left: 311px;
			}
		.precio{
			background-color: rgba(0, 0, 0, 0.5); 
			color: white;
			position: relative;
			top: -85px;
    		left: 0;
    		padding-left: 15px;
    		width: 30%
		}
	}
}
.usuarioDatos{
		margin-top: -85px;
		.usuarioFoto{
			border: 3px solid white;
			position: relative;
    		left: 280px;
		}
		h5{
			font-size: 20px;
			font-weight: bold;
		}
		p{
			font-size: 15px;
		}
		i{
			color:$star-color;
		}
	}

//paginación
.paginacion{
	small{
		font-size: 15px;
    	padding-left: 51px;
    	font-weight: 700;
	}
}
.pagination{
	li{
		background-color: white;
		border: 1px solid grey;
		a{
			color: $star-color;
		}
	}
	.flecha{
			border:none;
		}
}
.pagination{
	li.active{
		background-color:white;
		border: 1px solid $star-color;
		a{
			color: $star-color;
			font-weight: 700;
		}
	}
	li.disabled{
		background-color:white;
		a{
			color: $star-color;
			font-weight: 700;
		}
	}
}
	






